
<footer class="page-footer font-small bg-dark">

  <div class="footer-copyright text-center py-3 text-white" style="margin-top: 80vh;"> <script>document.write(new Date().getFullYear())</script> ©Doug Gonçalves</div>
</footer>