<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="/">Blog NodeJS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/categorias">Categorias</a>
      </li>
    </ul>
    {{!-- {{#if user}}
      <a class="nav-link text-white" href="usuarios/registro" tabindex="-1">Registrar</a>
      <a class="nav-link text-white" href="/usuarios/logout" tabindex="-1">Sair</a>
    {{else}}
      <a class="nav-link text-white" href="https://www.linkedin.com//" tabindex="-1" target="_blank"><img src="/img/linkedin.svg" alt="" style="width: 20px"></a>
      <a class="nav-link text-white" href="https://github.com/
      " tabindex="-1" target="_blank"><img src="/img/github.svg" alt="" style="width: 20px"></a>
      <a class="nav-link text-white" href="/usuarios/login" tabindex="-1">Login</a>
    {{/if}} --}}
  </div>
</nav>

<section style="width: 100%; height: 56px;"></section>